blockquote {
    background-color: #D9E5E3;
    border: 10px #C2CCCA solid;
    width: 250px;
    margin: 0;
    box-sizing: border-box;
    border-bottom-color: #333;
    border-right-color: #FFF;
    margin: 20px 40px;
}

.fiat {
    float: right;
}

.petrobras {
    float:left;
}