body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
	line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main {
	padding-bottom: 50px;
}

main h1 {
	text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	margin: 0;
	border-bottom: 10px black solid;
	font-size: 60px;
	text-transform: uppercase;
}

main div {
	padding: 30px 0;
}

p {
	text-align: justify;
	margin: 20px 0;
}

.navegacao-site {
	background-color: #3C1D3D;
	color: #F2FFFC;
	text-align: center;
}

aside h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

.rodape {
	background-color: #000;
	color: #F2FFFC;
}

nav a {
	color: #F2FFFC;
}

main a {
	color: #851944;
}

aside a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}

.icones-sociais li {
	display: inline-block;
}

blockquote, aside, footer {
	padding: 20px;
}

main div {
	width: 720px;
	margin: auto;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h2 {
	font-size: 30px;
	clear: both;
}

.icones-sociais a {
	width: 40px;
	height: 40px;
	display: block;
	text-indent: -9999px;
}

.github {
	background-image: url(../img/github.png);
}

.twitter {
	background-image: url(../img/twitter.png);
}

.linkedin {
	background-image: url(../img/linkedin.png);
}

nav a {
	text-transform: lowercase;
}

aside, img {
	float: right;
}

aside {
	clear: right;
	box-sizing: border-box;
	width: 15%;
	position: relative;
	top: 310px;
}

main {
	float: left;
	width: 85%;
}

footer {
	clear: both;
	position: fixed;
	bottom: 0;
	width: 100%;
}

cite {
	font-style: italic;
	float: right;
}

.minha-foto, .navegacao-site {
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

.minha-foto {
	position: absolute;
	top: 0px;
	right: 0px;
}
